* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behaviour: smooth;
}

body {
  background-color: #red;
}

::-webkit-scrollbar {
  width; 5px;
}

::-webkit-scrollbar-track {
  background: #dbd9d9;
}  

::-webkit-scrollbar-thumb {
  background: #888;
} 

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

.header {
  min-height: 100vh;
  width: 100%;
  background-image: limear-gradient(rgba(4, 9, 10, 0.7)),
    url(images/Building.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  aling-items: center;
}

nav img {
  height: 120px;
}

.nav-links {
  margin-top: -50px;
  flex: 1;
  text-aling: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: block;
  display: auto;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li : hover::after {
  width: 100%;
}

.text-box {
  width: 90%
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-aling: center;
}

.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.plain-link {
  text-decoration: none;
  color: inherit;
  curspr: pointer;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px;
  font-size: 12px;
  background: transparent;
  position: relative;
  
  
  
